.posi {
  display: flex;
  /* flex-direction: row; */
  /* flex-wrap: nowrap; */

/* justify-content: space-around;
    align-items:flex-start; */
gap:300px;
 } 

.posts {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
