.posi {
  display: flex;
  /* flex-direction: row; */
  /* flex-wrap: nowrap; */

/* justify-content: space-around;
    align-items:flex-start; */
gap:20px;
 } 

.posts {
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;

}


.formps{
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  align-items: center;
}